.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.banner {
  background-image: url("./images/hero-bg.png");
}
.footer {
  background-image: url("./images/footer-bg.png");
}
